.App {
    background-color: black;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

.home-buttons {
    margin-top: 20px;
}

.home-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 10px;
}
