/* HamburgerMenu.css */
.hamburger-menu-container {
  position: fixed;
  top: 0; /* Aligns it with the top without padding */
  left: 0; /* Aligns it with the left without padding */
  z-index: 100; /* Ensure it stays on top */
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
  z-index: 101; /* Ensure button is above other content */
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  top: 15px !important; /* Align properly at the top */
  right: 15px !important; /* Align properly at the right */
}

.bm-cross {
  background: #ffffff;
}

.bm-menu-wrap {
  position: fixed; /* Fix the menu wrap as well */
  height: 100%;
  z-index: 99; /* Ensure it stays below the burger button */
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 300px;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bm-menu a {
  color: #b8b7ad;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.bm-item-list a:hover {
  color: white;
}
