/* PreferencesPage.css */
.PreferencesPage {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-checkbox-container {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-checkbox {
  position: absolute;
  transform: scale(1.5);
  cursor: pointer;
}

.save-button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}
