/* index.css */

/* Remove default margin and padding from the body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#root {
  height: 100%;
}